<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>中远实业有限公司</title>
		<link rel="stylesheet" href="layout.css" />
	</head>
	<body>
		<div class="page">
			<div class="header">
				<div class="header_bac"></div>
				<div class="header_logo clear">
					<div class="logo float"></div>
					<div class="title float">
						<h1>中远（北京）实业有限公司</h1>
						<h2>COSCO (BEIJING) ENTERPRISES Co.. Ltd</h2>
					</div>
				</div>
			</div>
			<div class="nav">
				<div class="nav_ul">
					<ul>
					    <li><a href="/" class="li_one">首页</a></li>
						<li><a href="/" class="">公司简介</a></li>
						<li><a href="/" class="">物业管理</a></li>
		
						<li><a href="/" class="">后勤保障</a></li>
		
						<li><a href="/" class="">船员中心</a></li>
						<li><a href="/" class="">物流仓储中心</a></li>
						<li><a href="/" class="">新闻中心</a>
						</li>
						<li><a href="/" class="">企业文化</a></li>
		
						<li><a href="/" class="">招聘信息</a></li>
						<li><a href="/" class="">联系我们</a></li>
					</ul>
				</div>
			</div>
			<div class="banner">
				<div class="banner_bg">		
					<img src="img/1-1201311F555T8.jpg" />
					<div class="banner_but">
						<a href="">1</a>
						<a href="">2</a>					
						<a href="">3</a>					
					</div>
				</div>
				<div class="manage">
					<div class="manage_nav">
						<img src="img/ww_outer_top_h2_lb.gif"  />
						<span>物业管理</span>
						<span>More</span>
					</div>
					<ul>
						<li>
							<img src="img/ww_dl_img_bg.jpg" />
							<span>办公物业项目</span>
							<span>></span>
						</li>
						<li>
							<img src="img/ww_dl_img_bs.jpg" />
							<span>别墅物业项目</span>
							<span>></span>
						</li>
						<li>
							<img src="img/ww_dl_img_zz.jpg" />
							<span>住宅物业项目</span>
							<span>></span>
						</li>
						<li>							
							<img src="img/ww_dl_img_foot.jpg" />
							<span>中食饮食部服务</span>
							<span>></span>
						</li>
						<li>							
							<img src="img/flower2.jpg" />
							<span>保洁、会务及花卉租摆业务</span>
							<span>></span>
						</li>
					</ul>
				</div>
			</div>
			<div class="bulletin">
				<img src="img/werwr.png" />
				<span>信息公告</span>
				<a>香远北京公司安委办组织各单位对幸福大厦消防演习进行现场观摩和座谈交流活动</a>
				<a>香远北京公司组织举办投资管理操作实践</a>
			</div>
			<div class="brief">
				<div class="about">
					<div class="about_on">
						<img src="img/ww_outer_top_h2_lb.gif" />
						<span>关于我们</span>
						<span>More</span>
					</div>
					<img src="img/ww_dl_img_bg.jpg">
					<p>中远（北京）实业有限公司是以提供物业管理等为主要业务的综合服务型企业，前身为中国远洋运输（集团）总公司在京直属企业。</p>
				</div>
				<div class="logi">
					<div class="logi_on">
						<img src="img/wxuy.png" />
						<span>后勤保障</span>
					</div>
					<img src="img/ww_houqin_rw_img (1).gif">
					<p>中实大厦物业部是直接为中远海运集团北京办事处提供会议服务、保洁、花卉租摆.</p>
					<p>More</p>
				</div>
				<div class="logi">
					<div class="logi_on">
						<img src="img/wxuy.png" />
						<span>船员中心</span>
					</div>
					<img src="img/ww_houqin_car_img.gif">
					<p>中远船员中心是为中远海运集团系统出入境船员提供服务的部门，素有“船员之家”之称。</p>
					<p>More</p>
				</div>
				<div class="logi">
					<div class="logi_on">
						<img src="img/wxuy.png"  />
						<span>物流仓储中心</span>
					</div>
					<img src="img/yewu_che3.png">
					<p>中实大厦车队是为中远海运集团北京办事处提供车辆交通服务的部门。</p>
					<p>More</p>
				</div>
			</div>
			<div class="news">
				<div class="news_on">
					<div class="news_dyn">
						<img src="img/ww_outer_top_h2_lb.gif" />
						<span>最新动态</span>
						<span>More</span>
					</div>
					<ul>
						<li>
							<img src="img/ww_outer_ul_bg.gif" />
							<a href="">实业公司举行十一月份“老员工活动日”</a>
							<img class="hot" src="img/hot.gif" />
							<span>2017-11-11</span>
						</li>
						<li>
							<img src="img/ww_outer_ul_bg.gif" />
							<a href="">实业公司开展“重温长征路，阳光健步行”活动</a>
							<img class="hot" src="img/hot.gif" />
							<span>2017-10-23</span>
						</li>
						<li>
							<img src="img/ww_outer_ul_bg.gif" />
							<a href="">公司组织召开中远老员工2016年春季座谈交流会</a>
							<span>2017-10-05</span>
						</li>
						<li>
							<img src="img/ww_outer_ul_bg.gif" />
							<a href="">实业公司成功举办“迎十一、走向健康”健步走活动</a>
							<span>2017-09-28</span>
						</li>
						<li>
							<img src="img/ww_outer_ul_bg.gif" />
							<a href="">实业公司举办中远老员工2015年春季座谈交流会</a>
							<span>2017-09-02</span>
						</li>
						<li>
							<img src="img/ww_outer_ul_bg.gif" />
							<a href="">实业公司圆满召开中远老员工2014年秋季座谈交流会</a>
							<span>2017-08-15</span>
						</li>
					</ul>
				</div>
				<div class="contact">
					<div class="contact_on">
						<img src="img/ww_outer_top_h2_lb.gif" />
						<span>联系我们</span>
						<span>More</span>
					</div>
					<div class="phone">
						<p>总机:</p>
						<p>010-65121188</p>
					</div>
					<div class="phone phone_on">
						<p>传真:</p>
						<p>010-65122408</p>
					</div>
					<div class="phone">
						<p>地址:</p>
						<p>东长安街6号</p>
					</div>
				</div>
			</div>
			<div class="bottom">
				<p class="pone">版权所有@2009：香远（北京）投资有限公司</p>
				<p>技术支持：中远网络（北京）有限公司</p>
			</div>
		</div>
	</body>
</html>
